<mat-card>
  <mat-card-header>
    <mat-card-title>{{ film.title }}</mat-card-title>
    <mat-card-subtitle>{{ film.original_title }}</mat-card-subtitle>
  </mat-card-header>


    <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500/' + film.poster_path | filmImg" alt="Imagen">
    <div class="rating-circle" [style.left.px]="circleLeft" [style.bottom.px]="circleBottom" [attr.data-rating]="film.vote_average">
      <div class="border-fill"></div>
      <span class="rating-text">{{ getPercentageRating(film.vote_average) }}</span>
    </div>
<br>

  <mat-card-content class="mt-2">
    <p>
      <strong>Fecha de estreno: </strong> {{ film.release_date }}
      <br>
      <strong>Nota de IMDB: </strong> {{ film.vote_average }}
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>
</mat-card>
