<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px'}">

    <mat-toolbar color="warn">
      <samp>Menú</samp>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Antiguo nav-list -->
    <!-- <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItems" (click)="sidenav.toggle()" routerLink={{item.url}}>
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        {{item.label}}
      </mat-list-item>
    </mat-nav-list> -->


<!--Contenido del sidenav (nav list)-->
  <mat-nav-list>
    <mat-list-item (click)="sidenav.toggle()" routerLink="/film/list">
      <mat-icon matListItemIcon>flash_on</mat-icon>
      Top Rated
    </mat-list-item>
    <mat-list-item (click)="sidenav.toggle()" routerLink="/film/genre">
      <mat-icon matListItemIcon>subject</mat-icon>
      List by Genres
    </mat-list-item>
    <mat-list-item (click)="sidenav.toggle()" routerLink="/users" *ngIf="isUserAdmin()">
      <mat-icon matListItemIcon>supervisor_account</mat-icon>
      Users
    </mat-list-item>
    <mat-list-item (click)="sidenav.toggle()" routerLink="/film/search">
      <mat-icon matListItemIcon>search</mat-icon>
      Search
    </mat-list-item>

    <mat-list-item (click)="sidenav.toggle()" routerLink="/film/favs">
      <mat-icon matListItemIcon>favorite_border</mat-icon>
      Favs
    </mat-list-item>

  </mat-nav-list>
</mat-sidenav>


  <!--  -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>{{ nombre_usuario}}</span>
    <button mat-button (click)="onLogout()">
      Logout
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">Mario Pérez</footer>

</mat-sidenav-container>


