<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let film of filmArray">
      <film-card [film]="film"></film-card>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">

    <div class="row mt-4">
      <div class="col-12">
        <ul class="pagination">
          <li>
            <button (click)="loadMinus()" [disabled]="currentPage === 1">Prev</button>
          </li>
          <li *ngFor="let page of generatePageNumbers()" [class.active]="page === currentPage">
            <button (click)="loadPage(page)">{{ page }}</button>
          </li>
          <li>
            <button (click)="loadMore()" [disabled]="currentPage === totalPages">Next</button>
          </li>
        </ul>
      </div>
    </div>







    <!-- <button class="btn btn-primary mr-2" (click)="loadMinus()" [disabled]="currentPage === 1">
      Atrás
    </button>


    Página {{ currentPage }} de {{ totalPages }}

    <button class="btn btn-primary ml-2" (click)="loadMore()" [disabled]="currentPage === totalPages">
      Adelante
    </button>
  </div>
</div> -->
