<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center" id="texto"><mat-icon matListItemIcon>flash_on</mat-icon>  Top rated films</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let film of filmArray">
      <film-card [film]="film"></film-card>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="row mt-4">
        <div class="col-12">
          <ul class="pagination">
            <li>
              <button (click)="loadMinus()" [disabled]="currentPage === 1">Prev</button>
            </li>
            <li *ngFor="let page of generatePageNumbers()" [class.active]="page === currentPage">
              <button (click)="loadPage(page)">{{ page }}</button>
            </li>
            <li>
              <button (click)="loadMore()" [disabled]="currentPage === totalPages">Next</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
