.empty-state-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.empty-state-container p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.empty-state-container a {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
