<div class="login-container">
  <div class="login-box">
    <h2>Welcome to IMDB impostor</h2>
    <form [formGroup]="loginForm" (ngSubmit)="acceder()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" placeholder="Email address...">
        <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          Email address is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Password...">
        <mat-error *ngIf="loginForm?.get('password')?.invalid && (loginForm?.get('password')?.dirty || loginForm?.get('password')?.touched)">
          Password is required
        </mat-error>
      </mat-form-field>

      <button type="submit" mat-flat-button color="primary" class="login-button">Log in</button>
    </form>

    <div class="forgot-password">
      <a href="#">Forgot password?</a>
    </div>
  </div>
</div>
