
.custom-form {
  max-width: 400px;
  margin: 0 auto;
}

.custom-mat-form-field {
  width: 100%;
}

.text-center {
  text-align: center;
  margin-top: 20px; /* Opcional: para agregar un poco de espacio entre el contenido y el botón */
}
